<header class="">
  <nav class="navbar navbar-light bg-light mixin-justify">
    <div class="container">
      <div class="col-md-2 col-12">
        <a class="navbar-brand" >
          <img class="img-fluid" src="../../../assets/img/brasilprev-logo.png" alt="Logo Brasil Prev para o teste">
        </a>
      </div>
      <!-- <div class="col-md-2 col-10 text-right d-block d-sm-block" >
        <i class="fa fa-lg fa-user-circle "></i>
        <span class="ml-3">
          Login
        </span>
      </div> -->
    </div>
  </nav>
</header>