<div class="text-center mt-3 mb-3">
  <div class="container">
    <h3>Seja bem vindos à PokePage do teste da BrasilPrev.</h3>
    <p >Para pesquisar algum pokemon de sua preferência basta digitar o nome do mesmo e esperar ele aparecer na sua lista. Caso eles não estejam nos 100 primeiros o botão de carregar mais Pokemon irá aparecer. Basta clicar nele e ir pesquisando.</p>
    <p class="mt-3 mb-5">Tenho certeza que irá se divertir na sua Pokebusca!</p>
  </div>
  <form action="">
    <i aria-hidden="true" class="fa fa-search mr-3"  ></i>
    <input
      type="search"
      class="roundes"
      placeholder="Pesquisar..."
      autofocus
      (keyup)="debounce.next($event.target.value)"
      [value]="value">
  </form>
</div>